h1, h2, p, footer{
  font-family: Verdana;
}

* {background-color: black}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

a {
  color: Aquamarine;
  font-size: 16px;
  text-align: center;
}

img.center, video.center, .symbol{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

video {
display: block;
margin: 0 auto;
}

#download {
  text-align: center;
}
#download2 {
  text-align: center;
}

.symbol {
  height: 108px;
    width: 64px;
    text-align: center;
    font-size: 21px;
    margin-top: 21px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}

p {
  font-size: 21px;
  color: gray;
  text-align: center;
}

footer {
  text-align: right;
  color: gray;
}
